@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-geist-sans), sans-serif;
}

pre,
code {
  font-family: var(--font-geist-mono), monospace;
}
